## Load C-code
useDynLib(Repitools)

#.onLoad <- function(lib, pkg) require(methods)

#  All functions exported other than those starting with "."
import(methods, BiocGenerics, IRanges, GenomicRanges, GenomicAlignments, BSgenome, edgeR, parallel, aroma.affymetrix)
importFrom(parallel, detectCores)
importFrom(Biostrings, BString, letterFrequency)
importFrom(Rsamtools, ScanBamParam, scanBamFlag, readGAlignmentsFromBam)
importFrom(DNAcopy, CNA, smooth.CNA, segment)
importFrom(MASS, rlm)
importFrom(Ringo, sliding.meansd)
importFrom(gplots, colorpanel)
importFrom(grid, grid.newpage, viewport, gList, gTree, grid.draw, grid.text, rectGrob, gpar)
importFrom(gsmoothr, tmeanC)
importFrom(cluster, pam)
importFrom(Rsolnp, solnp)
exportClasses(FastQC, SequenceQC, SequenceQCSet, ScoresList, ClusteredScoresList, QdnaData, BayMethList)
exportMethods(show)
exportPattern("^[^\\_|^\\.]")
